[Unit]
Description=docker keepalived service
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker load -i /cyphyroot/docker/images/keepalived/keepalived.tar

[Install]
WantedBy=multi-user.target

